
**/obj
**/bin
/MinecraftBotManagerWinUI/MinecraftBotManagerWinUI (Package)
.vs/
/packages
Shema.vsdx
/ConsoleApp1
/TestResults
/Debug/net6.0
/ReleaseBuild.bat
/SourceGenerator
/McProtoNet.Protocol754/Properties/PublishProfiles/FolderProfile.pubxml.user
/Legacy/Legacy.csproj
