<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>10</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/Titlehhhh/Minecraft-DDOS-Free/master/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>C:\Users\Title\OneDrive\Рабочий стол\McSpammer\published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <UseApplicationTrust>False</UseApplicationTrust>
    <ErrorReportUrl>https://dsc.gg/title</ErrorReportUrl>
    <ProductName>Minecraft Holy Bot</ProductName>
    <PublisherName>Title</PublisherName>
    <SupportUrl>https://dsc.gg/title</SupportUrl>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ManifestCertificateThumbprint>22D0A0BBB76998AE80D7843E9A665183B5EA642B</ManifestCertificateThumbprint>
    <ManifestKeyFile>McSpammer_TemporaryKey.pfx</ManifestKeyFile>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.8">
      <Install>true</Install>
      <ProductName>Microsoft .NET Framework 4.8 (x86 и x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>Среда выполнения .NET 7.0.0 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>